{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env":{
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "plugins": [],
  "rules": {}
}